<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/cloud_icon.jpg">
    <link rel="stylesheet" href="/css/styles.css" >
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Tom Gruner. It uses data from 3rd party API providers to geocache a provided address and then fetch the weather forecast for that location.</p>
    <img src="/img/pic1.jpg" class="portrait">
    </div>
    {{>footer}}
</body>
</html>